
 <!--<%- include('./pushNotification.ejs') %>    --> 
    <!-- Notificatin  -->
<%- include('./notification.ejs') %>




    <script src="/js/flowbite.min.js"></script>
    <!-- Iconic  -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <!-- Daterange  -->
    <script src="/js/datepicker.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- Custome Js  -->
    <script src="/js/notificationBar.js"></script>
    <script src="/js/navigationMenu.js"></script>
    <script src="/js/dateRange.js"></script>
    <script src="/js/notificationBar.js"></script>
  </body>
</html>
