<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <!-- Custome Css  -->
    <link href="/src/style.css" rel="stylesheet" />

    <!-- fav  -->
    <link rel="shortcut icon" href="/src/img/fav.png" type="image/x-icon" />

    <!-- daterangepeeker  -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />

    <!-- Google Icon  -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <!-- jQuary -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    
  </head>

  <body
    class="globalMargin darkBackground bg-gradient-to-tr from-[#00ffbb62] via-green-300 to-[#fff] dark:from-slate-900 dark:to-green-900 scrollbar-hide"
  >
